# Ignore PHP-specific files
*.log
*.cache
*.tmp
*.swp

# Ignore WordPress plugin build files
/build/
node_modules/
vendor/

# Ignore WordPress plugin trunk directory
/trunk/

# Ignore VSCode-specific files
*.code-workspace
/vscode/
.vscode

# Ignore OS-specific files
.DS_Store
Thumbs.db
